@import "variables";


.pie-charts {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  border: 1px solid black;
  overflow: scroll;
  .answer {
    margin: 0.5em;
    border: 1px solid black;
  }
}
.legend {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
